body {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(54, 17, 128, 0.555);
    font-family: cursive;
}
#inp {
    width: 45px;
    height: 20px;
    margin-top: 7px;
    border-radius: 2px;
    border: none;

}
.cal-btn {
    width: auto;
    height: 41px;
    margin-left: 0.3rem;
    margin-top: 10px;
    font-family: cursive;
}
div.input-field {
    background-color: rgba(66, 58, 133, 0.09);
    width: 20rem;
    height: 41px;
}

.container {
    margin-top: 200px;
    background-color: rgb(207, 194, 210);
}